
{% extends 'layout.html'%}

{% block body %}


    <div class="row m-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <h3 class="card-title text-center">ACTUALIZAR</h3>
                <div class="card-body">
                    <form action="/update_info/{{estudiante.0}}" method="POST">
                        <div class="form-group">
                            <label for="doc"></label>
                            <input required value="{{estudiante.1}}" type="number" id="doc" name="documento" placeholder="Documento" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="nom" ></label>
                            <input requiered value="{{estudiante.2}}" type="text" id="nom" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="fec"></label>
                            <input requiered value="{{estudiante.4}}" type="date" id="fec" name="fecha" placeholder="Fecha" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="gen"></label>
                            <select requiered name="genero" class="custom-select mb-1 form-control">
                                <option>Seleccione genero</option>
                                {%for gen in data %}
                                <option selected value="{{data.get(gen)}}">{{data.get(gen)}}</option>                                                                    
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-5">
                            <button type="submit" class="btn btn-success btn-block">GUARDAR</button>
                            <a class="btn btn-danger btn-block" href="/cancel">CANCELAR</a>        
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    </div>

{% endblock %}